# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# PDF generados
src/output/*.pdf
src/output/*.html

# Entornos
.env
.env.*

# Otros
*.swp
.idea/
.vscode/
.cursor
